@font-face {
    font-family: 'CustomFont';
    src: url('./CustomFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CustomFont';
    src: url('./CustomFont-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
